<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sve Vesti - BorzaniOnline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sve_vesti.css') }}">
</head>
<body>
    <!-- Gornji deo sa logotipom i naslovom -->
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo" class="logo">
            <h1>BorzaniOnline</h1>
        </div>
        <br>
        <!-- Navigacioni bar -->
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('sve_vesti') }}">Naslovna</a></li>
                <li><a href="{{ url_for('vesti') }}#vesti">Vesti</a></li>
                <li><a href="{{ url_for('najnovije') }}#vesti">Najnovije</a></li>
                <li><a href="{{ url_for('lokalne_vesti') }}#vesti">Lokalne vesti</a></li>
                <li><a href="{{ url_for('sport') }}#vesti">Sport</a></li>
                <li><a href="{{ url_for('vremenska_prognoza') }}#vesti">Vremenska prognoza</a></li>
                <li><a href="{{ url_for('kontakt') }}#vesti">Kontakt</a></li>
                <li><a href="{{ url_for('ostavi_vest') }}#vesti">| Ostavi vest </a></li>
            </ul>
            
            <!-- Forma za pretragu -->
            <form action="{{ url_for('sve_vesti') }}" method="GET" class="search-form">
                <input type="text" name="search" placeholder="Pretraži vesti..." value="{{ request.args.get('search', '') }}">
                <button type="submit">Pretraži</button>
            </form>
        </nav>
    </br>
    </header>

    
    
    <footer>
        <p>Preuzimanje i objavljivanje tekstova sa portala Radio Borzani Brezovica nije dozvoljeno bez navođenja izvora. Hvala na poštovanju etike novinarske profesije.</p>
    </footer>
</body>
</html>